@font-face {
  font-family: myFirstFont;
  src: url(./font2/East\ Botany.otf);
  


}
img{
    float: left;
    
    height: 180px;
    width:260px;
}
.title{
  font-size: 40px;
  text-align: center;
  margin-top: -370px;
  margin-bottom: 0px;
 font-family: myFirstFont;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content:'';
  background: black;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
p{
    
    width: 84% !important;
  max-width: 90em !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;

}
