@font-face {
  font-family: myFirstFont;
  src: url(./font2/East\ Botany.otf);
  

}

.title{
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
 font-family: myFirstFont;

  line-height: 60px;
  color:white;
}

.modal-body td,tr {
    padding: 30px;
    
    color: white;
    font-size: 18x;
    font-family: myFirstFont;
    
  }
  .modal-body th{
      padding: 25px;
      font-family: myFirstFont;
  }

  .table-borderless td,
  .table-borderless th {
      border: 0;
  }
  .modal-title{
    font-family: myFirstFont;
    color: white;
    text-align: center;
   
  }
 

  .modal-body{
    
      padding: 30px;
      background: #DCE35B;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .modal-body{
    
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  .modal-header{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .modal-footer{
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

